@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";



/****************** Mixins ********************/

@mixin radius($var1: 4, $var2: 4, $var3: 4, $var4: 4) {
	
	$radius: rem-calc($var1 $var2 $var3 $var4);
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}


/****************** Main ********************/
$color1: #4bb7c7; //teal
$color2: #94bf22; //green
.clearfix {
	clear: both;
}

.user_menu {
	.nav {
		list-style: none;
		margin: 0;
	}
}

.tabs, .tabs-content{
	padding: 0 15px;
}

.header_container {
	height: 100px;
}

.header_section {
	background-color: $color1;
	border-bottom: 2px solid #dadada;
	position: fixed;
	z-index: 99;
	width:100%;
	// margin-top: 200px;

	.nav {
		margin-top: 10px;
		.button {
			background-color: $color2;
		}
	}
	.logo {
		margin: 10px 0;
	}
}

.slider_section {
	background-color: $color1;
}

.pod_section {
	.status {
		img {
			margin-top: 20px;
		}
	}
}

.cta {

	background-color: $color1;
	.cta_heading, .cta_button {
		margin: 0 auto;
	}

	.cta_heading {
		margin-top: 20px;
		h4, p {
			color: #FFF;
			text-align: center;
		}
	}

	.cta_button {
		margin-bottom: 20px;
		.button {
			background-color: $color2;
			margin: 0 auto;
			width: 100%;
		}
	}
}


footer {
	.badge {
		.logo {
			width: 50%;
		}
	}



	.copyright {
		margin: 10px auto;
	}
}
